---
layout: application
---

<header class="hero">
  {% include nav.html %}
  {% include hero.html %}
</header>

<main class="container">
  <h1 id="termine">Nächste Termine</h1>

  {% include termine.html %}

  <h1>Kontakt</h1>
  <div class="grid">
    <div class="one-thirds unit">
      <h3>Tourenplanung</h3>
      <p>Stefan Heim, <a href="&#x6d;&#x61;&#x69;&#108;&#116;&#x6f;&#58;&#x74;&#x6f;&#117;&#x72;&#x40;&#x69;&#122;&#x69;&#98;&#105;&#x7a;&#x69;&#x2e;&#x63;&#x68;">&#116;&#x6f;&#x75;&#114;&#x40;&#105;&#x7a;&#x69;&#x62;&#105;&#x7a;&#105;&#x2e;&#99;&#x68;</a></p>
      <p>+41 79 415 11 11</p>
    </div>
    <div class="one-thirds unit">
      <h3>Pr&auml;sidentin</h3>
      <p>Ramona Zingali, <a href="&#x6d;&#97;&#x69;&#x6c;&#116;&#x6f;&#58;&#112;&#114;&#97;&#x65;&#115;&#x69;&#x40;&#x69;&#122;&#105;&#98;&#105;&#122;&#x69;&#46;&#x63;&#x68;">&#112;&#x72;&#x61;&#101;&#x73;&#105;&#x40;&#x69;&#x7a;&#x69;&#x62;&#x69;&#x7a;&#105;&#46;&#99;&#x68;</a></p>
      <p>+41 78 881 60 82</p>
    </div>
    <div class="one-thirds unit">
      <h3>Verantwortlich Kindermitglieder</h3>
      <p>Sandra Heim, <a href="&#107;&#105;&#110;&#100;&#101;&#114;&#64;&#105;&#122;&#105;&#98;&#105;&#122;&#105;&#46;&#99;&#104;">&#107;&#105;&#110;&#100;&#101;&#114;&#64;&#105;&#122;&#105;&#98;&#105;&#122;&#105;&#46;&#99;&#104;</a></p>
    </div>
  </div>
</main>

<div class="container">
  <h1>Geschichte</h1>
  {% include geschichte.html %}
</div>
