<div>
  <a href="{{ '/' | prepend: site.baseurl }}">
    <img class="logo" src="{{ '/img/izi-logo.png' | prepend: site.baseurl }}" alt="Izi bizi tini wini">
  </a>
  <p class="lead">
    <a href="https://www.facebook.com/events/341880936185710/"><strong>Grosses Guggenfest</strong></a>
    am Samstag, 04.03.2017 in der Chälblihalle in Herisau
  </p>

  <em class="small">Mit freundlicher Unterstützung durch</em><br>
  <a href="https://www.raiffeisen.ch/herisau">
    <img class="img-link logo-rb" src="{{ '/img/fest-2017/logo-rb.png'}}" alt="Raiffeisenbank Appenzeller Hinterland, Herisau">
  </a>
  <div class="logo-container">
    <a href="https://www.mobiliar.ch/herisau">
      <img src="{{ '/img/fest-2017/logo-mobi.png'}}" alt="" class="img-link logo-small">
    </a>
    <a href="https://www.schuetzengarten.ch/">
      <img src="{{ '/img/fest-2017/logo-schuega.png'}}" alt="" class="img-link logo-small">
    </a>
  </div>
</div>
