.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1.5rem 0.5rem;
}
.narrow.container {
  max-width: 640px;
}

.grid, .unit {
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.grid {
  display: block;
  clear: both;

  .unit {
    display: block;
    float: left;
    width: 100%;
    margin: 0;
  }
  .narrow-quarter { width: 50%; }
}

// clearfix after grids
.grid { *zoom: 1; }
.grid:before, .grid:after {
  display: table;
  content: "";
  line-height: 0;
}
.grid:after { clear: both; }

@media screen and (min-width: 600px) {
  .grid {
    .half           { width: 66%; }
    .one-quarter    { width: 33%; }
    .narrow-quarter { width: 25%; }
  }
}

@media screen and (min-width: 900px) {
  .grid {
    .whole          { width: 100%; }
    .half           { width: 50%; }
    .one-thirds     { width: 33%; }
    .two-thirds     { width: 66%; }
    .one-quarter    { width: 33%; }
    .narrow-quarter { width: 25%; }
    .three-quarter  { width: 75%; }
  }
}

@media screen and (min-width: 980px) {
  .grid {
    .one-quarter    { width: 25%; }
  }
}
