.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1.5rem 0.5rem;
}
.narrow.container {
  max-width: 640px;
}

.grid, .unit {
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.grid {
  display: block;
  clear: both;

  .unit {
    float: left;
    width: 100%;
    padding: 1rem;
    margin: 0;
  }
  // .unit:first-child { padding-left: 2rem; }
  // .unit:last-child { padding-right: 2rem; }
}

// clearfix after grids
.grid { *zoom: 1; }
.grid:before, .grid:after {
  display: table;
  content: "";
  line-height: 0;
}
.grid:after { clear: both; }

@media screen and (min-width: 568px) {
  .grid {
    .whole         { width: 100%; }
    .half          { width: 50%; }
    .one-thirds    { width: 34%; }
    .two-thirds    { width: 66%; }
    .one-quarter   { width: 25%; }
    .three-quarter { width: 75%; }
  }
}
