.hero {
  height: 100%;
  // width: 100%;
  min-height: 310px;
  position: relative;
  background: $red; // fallback
  background: linear-gradient(120deg, $gold 20%, $red 80%);

  div {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding: 0 1rem;
    transform: translateY(-50%);
  }
}
