.navbar {
  width: 100%;
  padding: 1rem 0;
  background: $red;
  background: linear-gradient(120deg, $gold 20%, $red 80%);
  z-index: 10;
  text-align: center;

  a {
    text-decoration: none;
    padding: 0 1rem;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  a:last-child {
    border-right: none;
  }
  a, a:visited {
    color: #fff;
  }
  a:hover {
    text-decoration: underline;
  }
}
.hero .navbar {
  background: none;
}
