.gallery {
  .album {
    height: 137px;
    .thumbnail-image {
      height: 100px;
    }
  }

  .photo {
    height: 160px;
    .thumbnail-image {
      height: 150px;
    }
  }

  .thumbnail-image {
    display: inline-block;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
