.mitglieder .thumbnail {
  border-color: lighten($body-bg, 10%);

  a, img {
    transition-property: border-radius;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
    border-radius: 50%;
    border-width: 0;
  }

  a:hover,
  img:hover {
    border-radius: 5%;
  }

  img {
    width: 140px;
    height: 140px;
  }

  .caption {
    height: 62px;
  }
}

.mitglied-modal {
  img {
    max-width: 290px;
    max-height: 400px;
    // margin-right: 20px;
  }
  dl {
    margin-top: 30px;
  }
}
