@import "bootstrap-and-overrides";

body { padding-top: 70px; }

a {
  transition: all .2s ease-in-out;
  text-decoration: none;
}
a:hover, a:focus {
  color: $blue;
  text-decoration: none;
}

hr { border-color: $text-muted; }

// Highlight Navbar active Link
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background: $brand-primary !important;
  color: #000;
  transition: none;
}

.page-footer p {
  text-align: center;
  font-size: 0.8em;
  color: $text-muted;
}

//
// Termine
//
.termine {
  // fix Termine on small devices
  overflow-x: auto;
}
.termine-table {
  width: 100%;
  tr {
    transition: all .1s ease-in-out;
    td {
      vertical-align: top;
    }
  }
  tr:hover {
    background-color: scale-color($table-bg, $lightness: 10%);
  }
}

// flyer
#flyer {
  margin-bottom: 30px;
}

// own stuff
@import
  "fb-gallery",
  "hero",
  "mitglieder";
